.panel.custom-purple {
    color: #000 !important;
    border-left: solid 5px purple !important;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.6) !important;
}

.panel.custom-primary {
    color: #000 !important;
    border-left: solid 5px #001a80 !important;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.6) !important;
}

.panel.custom-success {
    color: #000 !important;
    border-left: solid 5px #1c9100 !important;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.6) !important;
}

.panel.custom-danger {
    color: #000 !important;
    border-left: solid 5px #940000 !important;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.6) !important;
}

.panel.custom-warning {
    color: #000 !important;
    border-left: solid 5px #fac300 !important;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.6) !important;
}

.panel.custom-info {
    color: #000 !important;
    border-left: solid 5px #00c0fa !important;
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.6) !important;
}

.custom-purple .panel-footer,
.custom-primary .panel-footer,
.custom-danger .panel-footer,
.custom-warning .panel-footer,
.custom-info .panel-footer,
.custom-success .panel-footer {
    color: #000 !important;
    background: #fff !important;
}

.responsive-img {
    width: 150px !important;
    height: auto !important;
}

.admin-loader {
    z-index: 99999;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.28);
    top: 0;
}

.loader {
    animation: rotate 3s infinite;
    height: 50px;
    width: 50px;
    position: relative;
    top: 50%;
    left: 50%;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}
.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

.d-none {
    display: none !important;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}
label.required:after {
    content: " * ";
    color: red;
}

.quiz_icon img {
    max-width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.quiz_icon1 {
    background-image: none !important;
}

.single_quiz_card{
    height: 210px !important;
}

/* .table>tbody>tr>td{
    vertical-align: middle !important;
} */
.price_table_wrap tbody tr td {
    vertical-align: middle !important;
}
